.m-header{
    @at-root .el-header{
        background: rgba(255,255,255,0.5);
        height:60px;
        box-shadow: 0px 0px 10px #eee;
        position:fixed;
        width:100%;
        top:0;
        left:0;
        z-index: 100;
    }
    width:1170px;
    height:100%;
    .index-nav{
        border-bottom:none;
        background: none;
        li{
            margin:0 10px;
            padding:0;
            .el-submenu__title,
            a{
                display: block;
                color:#000;
                font-size: 16px;
                padding: 0 20px;
            }
            &:hover{
                background: none!important;
                .el-submenu__title,
                a{
                    color:#bb0068;
                }
                .el-submenu__title:hover{
                    background: none!important;
                }
            }
        }
    }
}
/*二级导航*/
div.el-menu--horizontal{
    box-shadow: 0px 0px 8px #666!important;
    border-radius: 3px!important;
    position: relative;
    &:after{
        content:'';
        display: block;
        width: 0;
        height: 0;
        vertical-align: middle;
        border-top: 8px dashed;
        border-top: 8px solid\9;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        transform: rotate(-180deg);
        position: absolute;
        right: 45%;
        top: -5px;
        bottom: 0;
        color: #fff;
        z-index: 99999;
    }
    ul.el-menu--popup{
        min-width:140px!important;
        margin-top:0!important;
        li{
            height:42px!important;
            line-height: 42px!important;
            a{
                color:#333;
                display: block;
                font-size: 16px;
                display: block;
                text-align: center;
            }
            &:hover{
                background: #ddd;
                a{
                    color:#bb0068!important;
                }
            }
        }
    }
}
