.m-header,.m-footer{
    width: 1170px;
    margin: 0 auto;
    overflow: unset;
}
.el-header,.el-main,.el-footer{
    padding:0;
}

.layout-default{
    -webkit-font-smoothing: antialiased;
    font-family: "-apple-system",
    BlinkMacSystemFont,
    Roboto,
    "Helvetica Neue",
    "MIcrosoft YaHei",
    sans-serif !important;
    background-color: #fff;
}


.back-top{
    position: fixed;
    cursor:pointer;
    right:100px;
    bottom:200px;
    width:90px;
    text-align: center;
    display: none;
    z-index: 110;
    &.show{
        display: block;
    }
    >span{
        font-weight: 500;
        margin-top:6px;
        display: block;
    }
}
