<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="linkCWeb">
                    <match url="^(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="linkweb.cn" />
                    </conditions>
                    <action type="Rewrite" url="http://192.168.18.6:3000" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
